*{
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
};

:root{
    --color-white: #ffffff;
    --color-blue: #1F97CA;
    --background: linear-gradient(to right, #FF3CAC, #784BA0);

}