table{
    border-collapse: collapse;
}

th{
    text-align: center;
    padding: 10px;
}

#title{
    background-color: black;
}

#temas{
    background-color: aqua;
}

#genero{
    background-color: green;
}